.helpdetail{
    margin-top: 1rem;
    margin-left: 2%;
    margin-right: 2%;
    width: 1380px; 
    height: 650px;
    /* border-radius: 20px;
    border: 2px solid #B4B6BB; */
    position: fixed;
}

.helpdetail label{
    font-size: 20px;
}

.helpdetail input{
    font-size: 20px;
    width:400px;
    text-align: center;
}

.confirmbutton{
    background: #FFB172;
    cursor:pointer;
    color:#fff;
    width: 100%;
    margin-top: 20px;
    border: 2px solid #B4B6BB;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
}