.navbar{
    background-color: #FFB172;
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.navbar img{
    height: 50px;
}

.nav-link{
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #707070;
}

.navbar-nav>li:last-child{
    border-left: 2px solid #ffffff;
    border-radius: 2px;
    margin-left: 10px;
}