.helpertopic{
    margin-top: 5rem;
    margin-left: 2%;
    text-align: left;
    color: #FFB172;
}

/* .helpertopic h2{
    position: fixed;
} */

.filter{
    margin-top: 4rem;
    /* border-radius: 20px;
    border: 2px solid #B4B6BB; */
    width: 350px; 
    height: 400px;
    position: fixed;
}

.filter h4{
    color: #FFB172;
    margin-top: 5%;
    margin-left: 7%;
}

.clear{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #B4B6BB;
    background-color: #ffffff;
    color: #B4B6BB;
    margin-top: 5%;
    margin-left: 30%;
}

.filter_clear{
    display: flex;
}

.filter-form-check{
    margin-top: 20px;
    margin-left: 40px;
}


.filter-form-check .filter-check-label{
    margin-left: 10px; 
    font-weight: bold;
    font-size: 20px;
}

input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FFB172;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.helplist{
    margin-top: 4rem;
    margin-left: 250px;
    /* border-radius: 20px;
    border: 2px solid #B4B6BB; */
    width: 1050px; 
    height: 650px;
    /* position: fixed; */
}

.helpbutton{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #FFB172;
    background-color: #ffffff;
    color: #FFB172;
}

.helplist table{
    margin-left: 50px;
    margin-top: 20px;
}

.helplist hr{
    border: 2px solid #B4B6BB;
    border-radius: 20px;
}

.other-check-input{
    border: 2px solid #B4B6BB;
    border-radius: 20px;
}

.filter-form-fil{
    margin-top: 10px;
    margin-left: 10px;
    display:inline-flex;
}

.filter-form-fil input{
    width: 180px;
    height: 30px;
 
}

.searchbutton{
    width: 80px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #B4B6BB;
    background-color: #ffffff;
    color: #B4B6BB;
    margin-left: 10px;
}