input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FFB172;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='checkbox']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -3px;
    left: -2px;
    position: relative;
    background-color: #FFB172;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.victim-check-input[type='radio']:checked:after{
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #2F4A8A;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.admin-check-input[type='radio']:checked:after{
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #90D1CB;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}