.signupcontainer{
    border-radius: 20px;
    border: 2px solid #B4B6BB;
    width: 900px;
}

.signupform{
    padding: 10px 40px;
    margin-left: 20px;
}

.signupform img {
    margin: 20px 0 20px 0;
    height: 100px;
}

.signupbutton{
    background: #FFB172;
    cursor:pointer;
    color:#fff;
    width: 100%;
    margin-top: 20px;
    border: 2px solid #B4B6BB;
    border-radius: 20px;
    padding: 5px;
    font-size: 20px;
}