/* *{
    box-sizing: border-box;
} */

.signinbody{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

.signincontainer{
    border-radius: 20px;
    border: 2px solid #B4B6BB;
    width: 350px;
}

.signinform{
    padding: 10px 40px;
}

.signinform img {
    margin: 20px 0 20px 0;
}

.form-controll{
    position: relative;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.form-controll label{
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: #707070;
}

.form-controll input{
    display: block;
    border: 2px solid #B4B6BB;
    border-radius: 20px;
    width: 100%;
    padding: 5px;
    font-size: 16px;
}

.signinbutton{
    background: #2F4A8A;
    cursor:pointer;
    color:#ffffff;
    width: 100%;
    margin-top: 20px;
    border: 2px solid #B4B6BB;
    border-radius: 20px;
    padding: 5px;
    font-size: 16px;
}

.signinup label{
   text-align: left;
   display: block;
}